
body {

background:url(http://i.imgur.com/4Mwawcx.jpg) no-repeat center center fixed;
background-size:cover;

}

<<<<<<< HEAD

=======
>>>>>>> origin/master
nav {


text-align:center;
font-family: 'Shadows Into Light', cursive;
<<<<<<< HEAD
font-size: 35px;
=======
font-size: 25px;
>>>>>>> origin/master
white-space: nowrap;

}
a:hover { 
    color: rgb(255,100,10);
}
a {

margin-right: 100px;
color:rgb(255,255,255);
text-decoration:none;
display:inline-block;

}



li {


font-weight: 700;
display:inline-block;

}

header {
		
margin-top: 40px;
background: rgba(0,0,0,.5)
 
}
#wrapper {


<<<<<<< HEAD
list-style-type:none;
display:block;
=======
#wrapper {


list-style-type:none;
display:block;

}

>>>>>>> origin/master

