@import url(http://fonts.googleapis.com/css?family=Ledger&subset=latin,latin-ext);

ul {
 
 color: #0000FF;
 text-align:left;
 list-style:none;
 padding: 0;
 }


body {

    font-family: 'Ledger', serif;
    color: #000000;
	background-color: #FFFFFF;
	text-align: center;

}

a:hover {
    background-color: #0B310B;
 
}
.organize

{
    color: #000000;
	line-height: 120%;
	text-align:left;
}

#wrapper {

width: 600px;
margin: 0 auto;

}



 


