
body {

background:url(http://i.imgur.com/4Mwawcx.jpg) no-repeat center center fixed;
background-size:cover;

}

nav {


text-align:center;
font-family: 'Shadows Into Light', cursive;
font-size: 25px;
white-space: nowrap;

}
a:hover { 
    color: rgb(255,100,10);
}
a {

margin-right: 100px;
color:rgb(255,255,255);
text-decoration:none;

}



li {


font-weight: 700;
display:inline;

}

div {
		
margin-top: 40px;
background: rgba(0,0,0,.5)
 
}

#wrapper {


list-style-type:none;
display:block;

}


