
body {

background:url(http://i.imgur.com/4Mwawcx.jpg) no-repeat center center fixed;
background-size:cover;

}

nav {


text-align:left;
font-family: 'Shadows Into Light', cursive;
font-size: 55px;
white-space: nowrap;


}
li {

font-weight: 700;
display:inline-block;
margin:0 75px 0;
}




header {
		
margin-top: 40px;
background: rgba(0,0,0,.5)
 
}

a {

color: #ffffff;
text-decoration:none;

}

a:hover {

color:orange;
	
}
.navlist  { 

text-align:left;
font-family: 'Shadows Into Light', cursive;
font-size: 55px;
white-space: nowrap;
padding-bottom: 4px; 
margin: 0;
display:block;

}
.social{

color:#FFFFFF;
font-weight: 100;
font-size: 18px;

}

.social:hover{

color:white;


}

#wrapper {

list-style-type:none;
display:block;
list-style-type:none;
display:block;

}

#bottom {

width:657px;
margin-left: auto;
margin-right: auto;
}






